/*
	Patient Details css
	Description: Layout for the patient details section
*/

/* Section Menu */
/* Main Nav */
.sectionMenu {
    background: #999999;
    font-size: 1.143em;
    height: 30px;
    line-height: 20px;
    margin: -.3em auto 0 auto;
    padding: 0;
    text-align: center;
    width: 1024px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.sectionMenu ul {list-style: none; margin: 0 auto; width: 1024px;}
.sectionMenu li {float: left; display: inline; margin: 0;}

.sectionMenu a:link, #banner nav a:visited {
    color: #fff;
    display: inline-block;
    height: 20px;
    padding: 5px 1.5em;
    text-decoration: none;
}
.sectionMenu a:hover, #banner nav a:active,
.sectionMenu .active a:link, #banner nav .active a:visited {
    background: #C74451;
    color: #fff;
    text-shadow: none !important;
}

.sectionMenu li:first-child a {
    border-top-left-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -webkit-border-top-left-radius: 5px;

    border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -webkit-border-bottom-left-radius: 5px;
}

#metrics .metric_disable{
    background-color: lightgrey!important;
    color: #B0B0B0;
}
