/* Submit Button */
input[type='submit'],
button[type='submit']{
    border-radius: 5px;
    padding: .3em 1.3em;
    width: auto;
}

thead th{
    border-bottom-style: solid;
    border-width: 2px;
}

.dialog-button[type='submit'] {
    border-radius: 5px;
    padding: .3em 1.3em;
    width: 180px;
    margin-bottom: 10px;
}

.header-with-image{
    display: inline-table;
    vertical-align: middle;
}