/* Submit Button */
input[type='submit'] ,
input[type='button']{
    border-radius: 5px;
    padding: .3em 1.3em;
    width: auto;
}

thead th{
    border-bottom-style: solid;
    border-width: 2px;
}

fieldset .hypo_details {
    border: #000000 solid 1px;
}

fieldset .hypo_details .firstColumn{
    width: 200px;
    float: left;
}
