{% extends 'PortalBundle::base.html.twig' %}
{% block title %}
    Diabetes Portal - Admission
{% endblock %}
{% block header_styles %}
    <link href="{{ asset('css/review.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <article id="PatientSummary" class="body">
        <header>
            <h2>Other Admission</h2>
        </header>
        {{ include('PortalBundle:Patient/Common:patient_summary.html.twig') }}
    </article>
    <br/>
    <article id="AdmissionDetails" class="body">
        <section>
            <form id="admissionForm" action="{{ path('patient_dashboard', {'id': id}) }}" method="post">
                <fieldset class="formOne">
                    <fieldset class="withBorder">
                        <legend>Admission Details</legend>
                        <label class="wideLabel">Type of Admission:</label>
                        <select>
                            <option selected>Other</option>
                            <option>Intercurrent illness</option>
                            <option>Surgical procedure</option>
                            <option>Stabilisation/reeducation</option>
                        </select>
                        <br/>
                        <label class="wideLabel">Date of Admission:</label><input type="date"/><br/>
                        <label class="wideLabel">Date of Discharge:</label><input type="date"/><br/>
                    </fieldset>
                    <br/>
                    <h2>Medical Notes</h2>
                    <textarea rows="6" cols="50"></textarea>
                    <input type="submit" value="Save" style="float: right;" />
                    <input type="button" value="Cancel" onclick="history.back()" />
                </fieldset>
            </form>
        </section>
    </article>

    <script type="text/javascript">
        $(document).ready(function(){
            getChart();
        });
    </script>
{% endblock %}