[main]
Description=
Host=82.141.219.81
AuthType=1
GroupName=GENREMOTE
GroupPwd=
enc_GroupPwd=CFED2CCCA418857288C124B370222E022AA986F0E8068F84261EBB9FAE3790B4B45AEAF8B3BD823D1B378EB350ABF36A02E19BAFC7A94376
EnableISPConnect=0
ISPConnectType=0
ISPConnect=Verizon Wireless - VZAccess
ISPPhonebook=C:\Users\yyao\AppData\Roaming\Microsoft\Network\Connections\Pbk\rasphone.pbk
ISPCommand=
Username=~H3D9e$erv~
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
