[main]
Description=VPN-RSA
Host=208.94.70.4
AuthType=1
GroupName=RSAREMOTE
GroupPwd=
enc_GroupPwd=C17BEF592C6CE39E22030F7A66CC13ABF1EF8B43E689DF45AB075DD62368B436ED38789CF62248B7B2D5F41DD32B02A25CEEC6D8DD0C9999F7131DB83B3D82C8
EnableISPConnect=0
ISPConnectType=0
ISPConnect=
ISPPhonebook=
ISPCommand=
Username=
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
