[main]
Description=RSA
Host=hsra.hedgeserv.com
AuthType=1
GroupName=RSAREMOTE
GroupPwd=
enc_GroupPwd=F58DFCAEDF04EF235569C3B71350BECDC0BD9EEE6D73B53CC63D94F9F319C0E3D28A4C250FFE8E7759A79DC7C663EC24F85CCEA3BDBB758B0D7AA719F1D0660F
EnableISPConnect=0
ISPConnectType=0
ISPConnect=setai
ISPPhonebook=C:\ProgramData\Microsoft\Network\Connections\Pbk\rasphone.pbk
ISPCommand=
Username=
SaveUserPassword=0
UserPassword=
enc_UserPassword=
NTDomain=
EnableBackup=0
BackupServer=
EnableMSLogon=1
MSLogonType=0
EnableNat=1
TunnelingMode=0
TcpTunnelingPort=10000
CertStore=0
CertName=
CertPath=
CertSubjectName=
CertSerialHash=00000000000000000000000000000000
SendCertChain=0
PeerTimeout=90
EnableLocalLAN=0
