<h2>Nursing Notes</h2>
<div style="display: inline-table; width: 50%">
    <label class="field widerColumn">Sick Day Rules:</label>
    <select>
        <option value="true">Yes</option>
        <option value="false" selected>No</option>
    </select>
    <br/>
    <label class="field widerColumn">Ketone Testing:</label>
    <select>
        <option value="true">Yes</option>
        <option value="false" selected>No</option>
    </select>
    <br/>
    <label class="field widerColumn">Record Keeping:</label>
    <select>
        <option value="true">Yes</option>
        <option value="false" selected>No</option>
    </select>
    <br/>
    <label class="field widerColumn">Alcohol:</label>
    <select>
        <option value="true">Yes</option>
        <option value="false" selected>No</option>
    </select>
    <br/>
    <label class="field widerColumn">Contraception:</label>
    <select>
        <option value="true">Yes</option>
        <option value="false" selected>No</option>
    </select>
    <br/>
</div>
<div style="display: inline-table;">
    <label class="field widerColumn">Hypoglycaemia rules:</label>
    <select>
        <option value="true">Yes</option>
        <option value="false" selected>No</option>
    </select>
    <br/>
    <label class="field widerColumn">Dietary Issues:</label>
    <select>
        <option value="true">Yes</option>
        <option value="false" selected>No</option>
    </select>
    <br/>
    <label class="field widerColumn">School:</label>
    <select>
        <option value="true">Yes</option>
        <option value="false" selected>No</option>
    </select>
    <br/>
    <label class="field widerColumn">Smoking:</label>
    <select>
        <option value="true">Yes</option>
        <option value="false" selected>No</option>
    </select>
    <br/>
</div>
<br/><br/>
<h3>Comments</h3>
<textarea rows="6" cols="50"></textarea>