<div id="dialog-message" title="Design Comments">
    <h3>Home Page Functionality</h3>
    <p>
        Once the user is authenticated, the user is taken to the Home Page.<br/>
        All pages, for the moment, have a similar design/aspect, on the top section, some
        header generic information that displays the user name and other basic details is rendered. Also
        a link is available so the user can logout if needed, the link takes the user back to the login web page.
        Then a menu bar contains some of the main functions:  Search Patient, Add New Patient and so on, we need to discuss
        what menus need to be added in this section. Currently only the Patient>Search menu works.
    </p>

    <h3>Some Aspects To Discuss</h3>
    <ul>
        <li>Define content for this page</li>
        <li>List of main menus/actions</li>
    </ul>
    <h3>Next Step</h3>
    <p>
        Select the Search option under the Patient menu.
    </p>
    <small style="font-size: .8em; float: right">
        Comments updated on 23-Aug-2013 - v 0.01
    </small>
</div>