<div id="dialog-message" title="Design Comments" style="display: none">

    <h3>New Patient</h3>
    <p>
        In this web page the user can create a new record for a new patient. The user only requires a set of
        details to create the record, once is created, the application opens the "Patient Details" page where
        all the rest of details can be entered.
    </p>
    <h3>Aspects To Discuss</h3>
    <ul>
        <li>Is it correct to create a new patient record with a limited set of details?</li>
        <li>Set of fields to be included in this page</li>
        <li>What fields are mandatory</li>
    </ul>
    <small style="font-size: .8em; float: right">
        Comments updated on 29-Aug-2013 - v 0.02
    </small>
</div>