<div id="dialog-message" title="Design Comments" style="display: none">

    <h3>Patient Details - New Functionality</h3>
    <p>
        The mobile phone detail was replaced by the last contact detail was added on the top panel.
        This field displays the last date there was a contact with the patient: phone call, appointment,
        admission or similar.
        Education, Ongoing, Annual Review and OutPatient Appointment sections were removed, instead
        section Encounters was added.
        A menu was added to this new section so a user should be able to create Diagnosis, Annual Review and
        Routine Visit encounters.
        The "Add New" menu at the "Outpatient Appointments" section opens the New Review page.
    </p>

    <small style="font-size: .8em; float: right">
        Comments updated on 04-Sep-2013 - v 0.04
    </small>
</div>