<div id="dialog-message" title="Design Comments" style="display: none">

    <h3>Patient Search Functionality</h3>
    <p>
        In this web page the user can enter some criteria to query the database for patients.The application
        returns a list of patient records and the user can click on a link to bring up the patient's detail web page.
    </p>
    <h3>Some Aspects To Discuss</h3>
    <ul>
        <li>Fields to add to the search criteria</li>
        <li>List of fields to render from the patient record</li>
        <li>Do we limit the number of records that can be returned?</li>
        <li>Patients with multiple MRNs - consolidation strategy</li>
    </ul>
    <h3>Next Step</h3>
    <p>
        Currently the search function does not work, instead the application returns always the same patient record,
        regardless the entered criteria values. Just press the Find button and then click on the MRN field for
        the record that is returned, then the browser will open the Patient Details web page.
    </p>
    <small style="font-size: .8em; float: right">
        Comments updated on 23-Aug-2013 - v 0.01
    </small>
</div>