<div id="dialog-message" title="Design Comments">

    <h3>Review Form Page</h3>
    <p>
        In this web page the user can enter/modify a regular or annual review. On the top the patient board is display
        so the clinician has access to the patient's summary information. The middle and bottom sections are used
        to enter or modify a new or existing review record.
    </p>
    <small style="font-size: .8em; float: right">
        Comments updated on 01-Sep-2013 - v 0.03
    </small>
</div>